{% extends "umunc_cheetah/root.html" %}

{% block title %}
History
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="well col-md-12 main_panel_history" id="main_panel">
		<div class="row" id="top_panel">
			<div class="col-md-12">
				<div role="tabpanel">
					<div class="tab-content">
						<div id="Meetings">
							<p>
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Send a Meeting</button>
							</p>
							<table class="table table-hover" id="meeting_list">
								<thead>
									<tr>
										<td>Host</td>
										<td>To</td>
										<td>Time</td>
										<td>Location</td>
										<td>Description</td>
										<td>Status</td>
									</tr>
								</thead>
								<tbody>
									{% for meeting in meetings %}
									<tr>
										<td>{{meeting.FromC.Name}}</td>
										<td>{{meeting.ToC.Name}}</td>
										<td class=" text-center">{{meeting.Time|date:"Y-n-j G:i"}}</td>
										<td>{{meeting.Location}}</td>
										<td>{{meeting.Description}}</td>
										<td class=" text-center"><strong
											{% ifequal meeting.check_accept "Rejected" %}
											class="text-danger">
											{% endifequal %}
											{% ifequal meeting.check_accept "Accepted" %}
											class="text-success">
											{% endifequal %}
											{% ifequal meeting.check_accept "Waiting" %}
											class="text-info">
											{% endifequal %}
												{{meeting.check_accept}}
											</strong>
										{% ifnotequal meeting.check_accept "Rejected" %}
											<br/>
											<div class="btn-group btn-group-xs" role="group" aria-label="...">
											{% ifequal user.profile.Identify.Country.id meeting.ToC.id %}
												<button class="btn btn-danger" type="button" onclick="meeting_change(2,{{meeting.id}},0)">Reject</button>
											{% else %}
												{% if user.is_staff %}
													<button class="btn btn-danger" type="button" onclick="meeting_change(0,{{meeting.id}},0)">Reject</button>
												{% else %}
													{% ifequal user.profile.Identify.Country.id meeting.FromC.id %}
														<button class="btn btn-danger" type="button" onclick="meeting_change(1,{{meeting.id}},0)">Reject</button>
													{% endifequal %}
												{% endif %}
											{% endifequal %}
										{% endifnotequal %}
										{% ifnotequal meeting.check_accept "Rejected" %}
											{% ifequal user.profile.Identify.Country.id meeting.ToC.id %}
												{% ifequal meeting.Check_T None%}
												<button class="btn btn-success" type="button" onclick="meeting_change(2,{{meeting.id}},1)">Accept</button>
												{% endifequal %}
											{% else %}
												{% if user.is_staff %}
													{% ifequal meeting.Check_A None%}
													<button class="btn btn-success" type="button" onclick="meeting_change(0,{{meeting.id}},1)">Accept</button>
													{% endifequal %}
												{% else %}
													{% ifequal user.profile.Identify.Country.id meeting.FromC.id %}
														{% ifequal meeting.Check_F None%}
														<button class="btn btn-success" type="button" onclick="meeting_change(1,{{meeting.id}},1)">Accept</button>
														{% endifequal %}
													{% endifequal %}
												{% endif %}
											{% endifequal %}

											{% ifequal meeting.check_accept "Accepted" %}
												{% if user.is_staff %}
													{% if not meeting.Global %}
													<button class="btn btn-success" type="button" onclick="meeting_global({{meeting.id}})">Global</button>
													{% else %}
													<button class="btn btn-success" type="button" disabled>Global</button>
													{% endif %}
												{% endif %}
											{% endifequal %}
											</div>
										{% endifnotequal %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}


{% block js %}
{% endblock %}
