{% extends "umunc_mpc/root.html" %}
{% load myfilter %}

{% block Rtitle %}
	{% if post.title %}
		{{post.title}}
	{% else %}
		全球新闻总览
	{% endif %}
{% endblock %}

{% block Rcss %}
{% endblock %}

{% block Rbody %}
	<div class="col-md-12 coltitle"><span class="fui-new"></span> 本社资讯</div>

	{% Paginate request posts maxitem 15 as paginatedposts %}

	{% for post in paginatedposts.containerP %}
	<div class="col-md-12 list_block" onclick="location.href='/mpc/post/{% if pressname %}{{pressname}}/{%endif%}{{ post.id }}'">
		<p class="col-md-12 list_title">{{post.title}}</p>
		<pre class="col-md-9 list_content">{{post.content|truncatewords_hans_html:150|safe}}</pre>
		<div class="col-md-3 list_info">
			<address>
				{{post.author.profile.Name}} 发布于<br/>
				{{post.timestamp | date:"Y-n-j G:i:s" }}<br/><br/>
				<strong>
				{% for press in post.press.all %}
					{{press.name}}{% if not forloop.last %}<br/>{% endif %}
				{% endfor%}
				</strong>
			</address>
		</div>
	</div>
	{% endfor %}
	<div class="col-md-12 list-menu text-center">
		<nav>
			<ul class="pagination pagination-sm">
				<li {% if not paginatedposts.attr.previous %}class="disabled"{% endif %}>
					<a href="?{{ paginatedposts.attr.key }}={{ paginatedposts.attr.currectpage | add:"-1" }}">
						<span aria-hidden="true">&laquo; Previous</span>
					</a>
				</li>
				{% for page in paginatedposts.attr.page %}
				<li {% if page.currectpage %}class="active"{% endif %}><a href="?{{ paginatedposts.attr.key }}={{ page.id }}">{{ page.id }}</a></li>
				{% endfor %}
				<li {% if not paginatedposts.attr.next %}class="disabled"{% endif %}>
					<a href="?{{ paginatedposts.attr.key }}={{ paginatedposts.attr.currectpage | add:"1" }}">
						<span aria-hidden="true">Next &raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}

{% block Rjs %}
	<script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
	<script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
{% endblock %}
