{% extends "umunc_mpc/root.html" %}

{% block Rtitle %}{{post.title}}{% endblock %}

{% block Rcss %}
{% endblock %}

{% block Rbody %}
	<div class="post_block">
		<div class="row">
			<div class="post_head">
				<h3 class="text-center">{{post.title}}</h3>
			</div>
			<div class="post_body">
				{{post.content|safe}}
			</div>
			<div class="post_foot">
				<p>作者：{{post.author.profile.Name}} 于 {{post.timestamp | date:"Y-n-j G:i:s" }} 发布在
					{% for press in post.press.all %}
						{{press.name}}{% if not forloop.last %}、{% endif %}
					{% endfor%}
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block Rjs %}
{% endblock %}
