{% extends "umunc/root.html" %}

{% block title %}
UMUNC 2015
{% endblock %}

{% block css %}
{% endblock %}

{% block Rbody %}
<div class="container" id="main_panel">
	<div class="row">
		<div class="col-md-1 hidden-sm"></div>
		<div class="col-md-4">
			<img id="umunclogo" src="{{ STATIC_URL }}common/image/UMUNC-logo.png"/><br/><br/>
			<a href="/cheetah/" class="btn btn-info btn-block">Cheetah即时通讯系统</a>
			<a href="/mpc/" class="btn btn-info btn-block">MPC主媒体中心 全球新闻</a><br/>
			<a class="btn btn-info btn-block" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Documents</a>
				<div class="collapse" id="collapseExample">
					<div class="well">
						<a target="_blank" href="/download/UMUNC2015GEN-Team.xls">UMUNC2015GEN-Team.xls</a><br/>
						<a target="_blank" href="/download/UMUNC2015MAIN-ACIntro.pdf">UMUNC2015MAIN-ACIntro.pdf</a><br/>
						<a target="_blank" href="/download/UMUNC2015MAIN-Handbook.pdf">UMUNC2015MAIN-Handbook.pdf</a><br/>
						<a target="_blank" href="/download/UMUNC2015MAIN-Personal.docx">UMUNC2015MAIN-Personal.docx</a>
					</div>
				</div>
			<br/>
		</div>
		<div class="col-md-1 hidden-sm"></div>
		<div class="col-md-6">
			<h5>卷首</h5>
			<p>“在 UMUNC,这个故事的最初。</p>
			<p>是几个 16、7 岁的青年......”</p>
			<p>或许,这个故事,我们已经讲了很久,</p>
			<p>久到当年往事已物是人非,久到当年光景已成过眼云烟。</p>
			<p>时光荏苒,斗转星移,似乎时间已经消磨掉了一切,</p>
			<p>但我们仍然将这个故事延续了下去。</p>
			<p>重庆,西安,济南,无锡,厦门......</p>
			<p>我们将足迹留在了这里,这里的人们也将我们的故事传唱。</p>
			<p>那么现在,是时候开启一个新的故事了。</p>
			<p>你愿意与我们一起么?</p>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}umunc/js/three.min.js"></script>
	<script src="{{ STATIC_URL }}umunc/js/common.js"></script>
{% endblock %}