{% extends "umunc/root.html" %}

{% block title %}
UMUNC
{% endblock %}

{% block css %}
{% endblock %}

{% block Rbody %}
<div class="container" id="main_panel">
	<div class="row">
		<div class="col-md-1 hidden-sm"></div>
		<div class="col-md-4">
			<img id="umunclogo" src="{{ STATIC_URL }}common/image/UMUNC-logo.png"/><br/><br/>
			<a href="/cheetah/" class="btn btn-info btn-block">Cheetah即时通讯系统</a>
			<a href="/mpc/" class="btn btn-info btn-block">MPC主媒体中心 全球新闻</a><br/>
		</div>
		<div class="col-md-1 hidden-sm"></div>
		<div class="col-md-6">
			<h5>卷首</h5>
			<p>现在———</p>
			<p>这里———</p>
			<p>我们———</p>
			<p>准备好了吗？</p>
			<br / >
			<p>啦啦啦我们又回来了！</p>
			<br / >
			<p>——技术团队某逗比寄语</p>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
	<script src="{{ STATIC_URL }}umunc/js/three.min.js"></script>
	<script src="{{ STATIC_URL }}umunc/js/common.js"></script>
{% endblock %}
