{% extends "root.html" %}

{% block Rtitle %}{% block title %}{% endblock %}{% endblock %}

{% block Rcss %}
	<link href="{{ STATIC_URL }}umunc/css/common.css" rel="stylesheet">
	{% block css %}{% endblock %}
{% endblock %}

{% block Rbody %}
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				<img id="umunclogo" src="{{ STATIC_URL }}common/image/UMUNC-logo.png"/>
 			</div>
 		</div>
 	</div>
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 			{% block body %}{% endblock %}
 			</div>
 		</div>
 	</div>
{% endblock %}

{% block Rjs %}
	<script src="{{ STATIC_URL }}common/js/jquery.backstretch.min.js"></script>
	{% block js %}{% endblock %}
{% endblock %}
