{% extends "umunc_iris/root_dashboard.html" %}

{% block title %}
Center
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12" id="main_panel">
		<div class="row text-right">
			<h4 class="pull-left" id="step1_title">&nbsp;&nbsp;UMUNC IRIS</h4>
			<a class="btn btn-info btn-sm" href="/iris/step1/">
				<span class="fui-arrow-right"></span>
				Start
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<hr />
		<h6><span class="fui-tag"></span> 欢迎与众不同的你</h6>
		<p>有尊敬的各位老师、代表、学术团队</p>
			<p>以及每一个与众不同的你：</p>
			<p>感谢您对 UMUNC 优梦模联的关注！</p>
			<p>2011，UMUNC 诞生在济南；</p>
			<p>2017，UMUNC 走过了第六个年头；</p>
			<p>我们坚守初心，也一直在寻找新的道路。邓析子说：“不进则退，不喜则忧，
			不得则亡。”六年走来，我们不仅继承了一贯的学术理念，还注重为其注入更具
			活力的血液，融入更具创新价值的想法。而同时，技术的进步，带来了全新的报
			名系统和更便利的会议交流平台，一次次挑战极致的信息化体验，都在为会议保
			驾护航。</p>
		<hr/>
		<h6><span class="fui-new"></span> 申请席位说明</h6>
		<p>本年度席位申请全程采用线上报名的形式，故为更好的服务各位参会同学及老师，请注意以下申请事项：</p>
		<ol>
			<li>申请步骤如页面所示，每一步都会有具体的详细提示信息，请确保认真阅读。</li>
			<li>每一申请步骤都支持中途的暂存，但请注意，一旦确认提交，即进入下一流程，既往提交信息便锁定不可修改。</li>
			<li>无论您是团队身份，亦或是个人身份申请，系统都会予以接受，具体信息可在【团队状态确认】中提交。请务必注意，团队状态涉及最终缴费的细节，请确保如实填写。</li>
			<li>学术评测的提交，即会被发送到学术团队并等待分配面试，其中需要一定的时间，请耐心等待。</li>
			<li>账号注册、面试分配、面试结果以及最终缴费通知都会即时通知到您注册的邮箱。</li>
			<li>如若出现账号遗失或信息提交有误，请联系UMUNC团队。</li>
		</ol>
		<hr/>
		<h6><span class="fui-info-circle"></span> UMUNC系统说明</h6>
		<p>UMUNC会议系统是由UMUNC技术团队完全自主研发的一整套模联会议在线解决方案。全套体系包括IRIS用户中心模块、CHEETAH即时通讯模块、MPC综合信息模块等，各个模块之间共享所有的用户数据和身份。</p>
		<p>请务必牢记当前账号的密码等信息，在会议期间，您将再次需要这个账号用以进入其他模块部分。</p>
	</div>
</div>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}umunc_iris/js/default.js"></script>
{% endblock %}
