{% extends "root.html" %}

{% block Rtitle %}{% block title %}{% endblock %} - IRIS{% endblock %}

{% block Rcss %}
	<link href="{{ STATIC_URL }}umunc_iris/css/common.css" rel="stylesheet">
	{% block css %}{% endblock %}
{% endblock %}

{% block Rbody %}
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12 text-center">
 				<img id="umunclogo" src="{{ STATIC_URL }}common/image/UMUNC-logo-white.png"/>
 				<img id="irislogo" src="{{ STATIC_URL }}common/image/iris-logo-white.png"/>
 			</div>
 		</div>
 	</div>
 	{% block IRIS-Rbody %}{% endblock %}
 	<div class="container" id="info_container">
 		<div class="row">
			<div class="col-md-12 text-center">
				<p>UMUNC 2014~2016 All Rights Reserved. 闽ICP备16003006号</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block Rjs %}
	<script src="{{ STATIC_URL }}common/js/jquery.backstretch.min.js"></script>
	{% block IRIS-Rjs %}{% endblock %}
{% endblock %}
