{% extends "umunc_iris/root.html" %}

{% block title %}
学术测评
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" id="submit" name="submit"  value="">
	<div class="row">
		<div class="col-md-12" id="step3_panel">
			<div class="row text-center">
				<p>成员提交学术评测，并由核心学术团队给予评级。</p>
			</div>
			<div class="form-group">
				<label for="review" class="col-sm-4 control-label">学术评测 Review</label>
				<div class="col-sm-7 input-group">
					<textarea class="form-control" id="review" name="review" required>{{profile.Review}}</textarea>
					<span class="fui-bookmark form-control-feedback"  for="review"></span>
				</div>
			</div>
			<div class="row text-right">
				{% ifequal profile.Status 4%}
				<button class="btn btn-danger btn-sm" type="submit" id="savebutton">Save</button>
				<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#askModal">Submit</button>
				{% else %}
				已经提交啦，不能修改咯~
				{% endifequal %}
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>

	<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">提交确认</h4>
				</div>
				<div class="modal-body">
					<p>请确认是否正式提交。</p>
					<p>请注意：提交后将不再允许修改。</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="submitbutton">Yes</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
<script src="{{ STATIC_URL }}umunc_iris/js/step3.js"></script>
{% ifequal profile.Status 4%}{% else %}
	<script language="javascript">
		$(function(){
			$("form input,textarea,select").attr("disabled","disabled")
		})
	</script>
{% endifequal %}
{% endblock %}
