{% extends "umunc_iris/root_dashboard.html" %}

{% block title %}
缴费
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12" id="step3_panel">
			<div class="row text-right">
				<h4 class="pull-left" id="step1_title">&nbsp;&nbsp;完成</h4>
				<a class="btn btn-info btn-sm" href="/iris/step5/">
					<span class="fui-arrow-left"></span>
					Previous
				</a>
			</div>
			<hr/>
			<div class="row text-center">
				<h4>恭喜!</h4>
				<p>UMUNC报名流程已经全部结束，您已成功申请到席位。UMUNC感谢您的参与，我们会场再见！</p>
			</div>
			<div class="form-group">
				<label for="review1" class="col-sm-3 control-label">如对宿舍分配有特殊要求，请在此留言： </label>
				<div class="col-sm-12 input-group review_box">
					<textarea class="form-control" id="message" name="message">{{profile.Message}}</textarea>
					<span class="fui-bookmark form-control-feedback"  for="message"></span>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-danger btn-sm" type="submit" id="savebutton">Save</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
<script src="{{ STATIC_URL }}umunc_iris/js/step7.js"></script>
{% endblock %}
