{% extends "umunc_iris/root_dashboard.html" %}

{% block title %}
席位分配
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form class="form-horizontal">
	<div class="row">
		<div class="col-md-12" id="step3_panel">
			<div class="row text-center">
				<p>请等待学术团队分配您的席位信息。信息确认后将会自动完成本步骤。</p>
				<p>查询及其他疑问，请联系UMUNC组委会。</p>
			</div>
			{% ifequal profile.Status 6 %}
			<div class="form-group">
				<label for="interviewer" class="col-sm-4 control-label">席位 Identify</label>
				<div class="col-sm-7 input-group">
					<label class="control-label text-left">
					尚未分配
					</label>
				</div>
			</div>
			{% else %}
				{% if profile.Country %}
				<div class="form-group">
					<label for="interviewer" class="col-sm-4 control-label">席位 Identify</label>
					<div class="col-sm-7 input-group">
						<label class="control-label text-left">
						【{{profile.System.Name}}】{{profile.Country.Name}} - {{profile.Identify.Name}}
						</label>
					</div>
				</div>
				{% endif %}
			{% endif %}
			<hr/>
			<div class="row text-right">
				<a class="btn btn-info btn-sm" href="/iris/step4/">
					<span class="fui-arrow-left"></span>
					Previous
				</a>
				{% if profile.Status >= 7 %}
				<a class="btn btn-info btn-sm" href="/iris/step6/">
					<span class="fui-arrow-right"></span>
					Next
				</a>
				{% endifequal %}
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
<script src="{{ STATIC_URL }}umunc_iris/js/step5.js"></script>
{% endblock %}
