{% extends "umunc_iris/root_dashboard.html" %}

{% block title %}
团队/个人身份确认
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form action="." method="post" class="form-horizontal">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12" id="step2_panel">
			<div class="row text-center">
				<p>如果您是个人代表，请直接选择个人代表跳过此步；<br/>如果您是团队领队，请创建团队；如果您是团队成员，请选择您参加的团队。</p>
			</div>
			{% ifequal profile.Status 2 %}
			<div class="form-group text-center text-danger">
				<p>{{error}}</p>
			</div>
			<div class="form-group">
				<label for="class" class="col-sm-4 control-label">代表类别 Delegation Class</label>
				<div class="col-sm-7 input-group">
					<select class="form-control" id="class" name="class" required>
						<option value="1">代表团-首席代表 Group Delegation-Chief Delegate</option>
						<option value="2">代表团-非首席代表(成员) Group Delegation-Member Delegate</option>
						<option value="3">个人代表 Single Delegation</option>
					</select>
					<span class="fui-user form-control-feedback"  for="class"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">团队名称 Group Name</label>
				<div class="col-sm-7 input-group">
					<input class="form-control" type="text" placeholder="Enter Name" id="name" name="name" maxlength="255" required>
					<span class="fui-new form-control-feedback"  for="name"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="school" class="col-sm-4 control-label">所属学校 School</label>
				<div class="col-sm-7 input-group">
					<input class="form-control" type="text" placeholder="Enter School" id="school" name="school"  maxlength="255" required>
					<span class="fui-home form-control-feedback"  for="school"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-4 control-label">设定加入口令 Password</label>
				<div class="col-sm-7 input-group">
					<input class="form-control" type="text" placeholder="Enter Password" id="password" name="password"  maxlength="255" required>
					<span class="fui-lock form-control-feedback"  for="password"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="group" class="col-sm-4 control-label">团队 Group</label>
				<div class="col-sm-7 input-group">
					<input class="form-control" type="text" placeholder="Select Group" id="group" name="group"  maxlength="255" readonly="readonly" required>
					<span class="fui-calendar-solid form-control-feedback"  for="school"></span>
					<label  class="control-label text-left">以下为所有团队，请选择您要加入的团队。</label><br/>
					{% for group in groups %}
					<button type="button" class="btn btn-primary" onclick="$('#group').val('{{group.Name}}')">{{group.Name}}</button>
					{% endfor %}
				</div>
			</div>
			{% else %}
			<div class="form-group">
				<label class="col-sm-4 control-label">您的选择 Your Choice</label>
				<div class="col-sm-7 input-group">
					<label  class="control-label text-left">
					{% if profile.Group.Group %}
						{% if profile.Leader %}代表团-首席代表 Group Delegation-Chief Delegate<br/>{% else %}代表团-非首席代表(成员) Group Delegation-Member Delegate<br/>{% endif %}
						{{profile.Group.Name}}
					{% else %}
						个人代表 Single Delegation
					{% endif %}
					</label>
				</div>
			</div>

			{% if profile.Group.Group %}
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<th>用户名</th>
					<th>姓名</th>
					<th>状态</th>
				</thead>
				<tbody>
					{% for u in profile.Group.profile_set.all %}
						<tr class="
							{% if u.Status > 5 %}success{% endif %}
							{% if u.Status < 0 %}danger{% endif %}
						">
							<td>{{u.User.username}}</td>
							<td>{{u.Name}}</td>
							<td>{{u.get_Status_display}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			{% endifequal %}
			<hr/>
			<div class="row text-right">
				<a class="btn btn-info btn-sm" href="/iris/step1/">
					<span class="fui-arrow-left"></span>
					Previous
				</a>
				{% ifequal profile.Status 2 %}
				<button class="btn btn-danger btn-sm" type="submit" id="savebutton" style="display: none;">Save</button>
				<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#askModal">Submit</button>
				{% else %}
				<a class="btn btn-info btn-sm" href="/iris/step3/">
					<span class="fui-arrow-right"></span>
					Next
				</a>
				{% endifequal %}
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">提交确认</h4>
			</div>
			<div class="modal-body">
				<p>请确认是否正式提交。</p>
				<p>请注意：提交后将不再允许修改。</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="submitbutton">Yes</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
<script src="{{ STATIC_URL }}umunc_iris/js/step2.js"></script>
{% ifequal profile.Status 2 %}{% else %}
	<script language="javascript">
		$(function(){
			$("form input,textarea,select").attr("disabled","disabled")
		})
	</script>
{% endifequal %}
{% endblock %}
