{% extends "umunc_iris/root.html" %}

{% block title %}
学术测评
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form action="." method="post" class="form-horizontal" enctype="multipart/form-data"> 
	{% csrf_token %}
	<div class="row">
		<div class="well col-md-12" id="step3_panel">
			<div class="row text-center">
				<h3>IRIS代表信息管理系统 v2.0</h3>
				<p>成员提交学术评测，并由核心学术团队给予评级。</p>
			</div>
			<div class="row text-right">
				<a class="btn btn-inverse btn-sm" href="/iris">Back</a>
				{% ifequal profile.Status 4%}
				<button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#askModal">Submit</button>
				{% endifequal %}
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div class="col-md-12">
				<p>
					学术测评下载:
					<a class="btn btn-info btn-xs" href="/download/UMUNC2015MAIN-AT-JCCS.doc" target="_blank">危机联动体系</a>
					<a class="btn btn-info btn-xs" href="/download/UMUNC2015MAIN-AT-EU.doc" target="_blank">欧洲体系</a>
					<a class="btn btn-info btn-xs" href="/download/UMUNC2015MAIN-AT-PMDG.doc" target="_blank">后千年体系</a>
				</p>
				<hr/>
			</div>
			{% ifequal profile.Status 4 %}
			<div class="col-md-12">
				<p>
					报告上传
					{% if profile.Review %}
						<a class="btn btn-info btn-xs" href="/iris/step3/download_review" target="_blank">查看已上传文件</a>
					{% endif %}
				</p>
				<input type="file" name="upload_file" id="upload_file"/>
				<p class="help-block">Only PDF/DOC/DOCX file will be accepted. File limit: 2M</p>
				<p>{{msg}}</p>
			</div>
			{% else %}
			<div class="col-md-12">
				<p>
					报告上传
					{% if profile.Review %}
						<a class="btn btn-info btn-xs" href="/iris/step3/download_review" target="_blank">查看已上传文件</a>
					{% endif %}
				</p>
			</div>
			{% endifequal %}
	</div>

	<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">提交确认</h4>
				</div>
				<div class="modal-body">
					<p>请确认是否正式提交。</p>
					<p>请注意：提交后将不再允许修改。</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="submitbutton">Yes</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
{% ifequal profile.Status 4%}{% else %}
	<script language="javascript">
		$(function(){
			$("form input,textarea,select").attr("disabled","disabled")
		})
	</script>
{% endifequal %}
{% endblock %}