{% extends "umunc_iris/root_dashboard.html" %}

{% block title %}
缴费
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<form class="form-horizontal">
	<div class="row">
		<div class="col-md-12" id="step3_panel">
			<div class="row text-center">
				<p>恭喜您通过学术团队的面试，待核心学术团队分配席位之后，您就可以进行最后一步——缴费啦。</p>
				<p>请注意：缴费时，请将缴费码填写在备注留言内，我们收到费用后将会尽快完成核对。</p>
				<p>对于团队申报的同学，报名窗口仅对首席代表开放，团队统一完成缴费。</p>
				<p>查询及其他疑问，请联系UMUNC组委会。</p>
			</div>
			{% ifequal profile.Status 6 %}
			<div class="form-group">
				<label for="interviewer" class="col-sm-4 control-label">席位 Identify</label>
				<div class="col-sm-7 input-group">
					<label class="control-label text-left">
					【{{profile.Country.Name}}】 {{profile.Identify}}
					</label>
				</div>
			</div>
				{% if profile.Leader %}
				<div class="form-group">
					<label for="interviewer" class="col-sm-4 control-label">缴费码 Pay Code</label>
					<div class="col-sm-7 input-group">
						<label class="control-label text-left">
						{{profile.Group.Paycode}}
						</label>
					</div>
				</div>
				{% endif %}
			{% endifequal %}
			<hr/>
			<div class="row text-right">
				<a class="btn btn-info btn-sm" href="/iris/step4/">
					<span class="fui-arrow-left"></span>
					Previous
				</a>
				{% ifequal profile.Status 7 %}
				<a class="btn btn-info btn-sm" href="/iris/step6/">
					<span class="fui-arrow-right"></span>
					Next
				</a>
				{% endifequal %}
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>
</form>
{% endblock %}


{% block js %}
<script src="{{ STATIC_URL }}common/js/jqBootstrapValidation.js"></script>
<script src="{{ STATIC_URL }}umunc_iris/js/step5.js"></script>
{% endblock %}
